* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    }

body {
    margin: 0;
    font-family: sans-serif;
    overflow: hidden;
    }

/* Here we have a Header Css */
.header{
    background-color: black;
    padding: 20px;
    }

 .headerContent {
    width: 50%;
    height: 5.3%;
    left: 25%;
    top: 0px;
    position: absolute;
    border-radius: 10px;
    border: 6px solid black;
    background-color: black;
    }

  .firstTransform {
    z-index: 1;
    height: 57px;
    top: -8px;
    left: -12px;
    border: 0.7px solid white;
    transform: rotate(-20deg);
    position: absolute;
    }

  .secondTransform {
    z-index: 1;
    height: 57px;
    top: -8px;
    right: -12.4px;
    border: 0.7px solid white;
    transform: rotate(20deg);
    position: absolute;
    }

/* He we have a first Dropdown Css code!!! */
 .firstDrop {
    position: relative;
    display: inline-block;
    color: white;
    padding: 12px;
    cursor: pointer;
    }

  .FDContent {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 0px;
    top: 35px;
    }

  .FDContent a {
    color: black;
    padding: 7px  55px 7px 15px;
    margin: 0px;
    left: 5px;
    text-decoration: none;
    display: block;
    }

  .FDContent a:hover {
    background-color: #cceeff;
    }

  .firstDrop:hover .FDContent {
    display: block;
    }

  .FDContent::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 88.2%;
    border-width: 5px;
    border-style: solid;
    border-color:  transparent transparent white transparent;
    }

/* He we have a second Dropdown Css code!!! */
 .secondDrop {
    position: relative;
    display: inline-block;
    color: white;
    padding: 12px 12px 12px 5px;
    cursor: pointer;
    }

  .SDContent {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 0px;
    top: 35px;
    }

  .SDContent a {
    color: black;
    padding: 7px  50px 7px 15px;
    margin: 0px;
    left: 5px;
    text-decoration: none;
    display: block;
    }

  .SDContent a:hover {
    background-color: #cceeff;
    }

  .secondDrop:hover .SDContent {
    display: block;
    }

  .SDContent::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 55%;
    border-width: 5px;
    border-style: solid;
    border-color:  transparent transparent white transparent;
    }

/* Here we have a code of Slash and arrow code!!! */
.slash {
    padding-left: 3px;
    margin: 0;
    z-index: 1
    }
 .slash a {
    color:  grey;
    }
.arrow1 {
    position: absolute;
    font-size: 9px;
    color: grey;
    transform: rotate(90deg);
    top: 16px;
    left: 96%;
    }
 .arrow2 {
    position: absolute;
    font-size: 9px;
    color: grey;
    transform: rotate(90deg);
    top: 16px;
    left: 95%;
    }

/* Here are all Css that inlude a menu navigation styles ( and click button) */
.menu {
    padding-top: 15px;
    padding-bottom: 20px;
    }

 .navigationInfo {
    font-size: 18px;
    color: Gray;
    }

 .selectContent {
    color: black;
    font-size: 19px;
    font-weight: bold;
    }

 .click {
    color: Gray;
    padding: 20px;
    font-size: 20px;
    border: none;
    cursor: pointer;
    }


/* This is all Css that modify a menu button */
.sidenav {
    width: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 30px;
    }

 .sidenav a {
    width: 40px;
    line-height: 35px;
    font-size: 15px;
    margin: 0px 0px 20px 15px;
    color: DimGray;
    display: block;
    transition: 0.5s;
    border: 3px solid grey;
    border-radius: 50%;
    text-align: center;
    }

 .sidenav a:hover {
    color: white;
    background-color: black;
    border-color: black;
    }

 .show {
    padding-right: 80px;
    }

/* Here we have a main content Css code */
#main {
    transition: margin-left 0.5s;
    padding: 0px;
    }
 .main {
    margin-left: 80px;
    }
 .main_content {
    padding-left:3%;
    width: 98%;
    height: 1000px;
    box-shadow: 0px 0px 20px 3px #d1d1d1;
    }

/* This is a CSS that set a screen max & min resolution for a changes */
@media screen and (max-height: 550px) {
  .sidenav {padding-top: 105px;}
  .sidenav a {font-size: 13px;}
  }

 @media screen and (max-width: 650px) {
  .sidenav {padding-top: 40px;}
  .sidenav a {font-size: 13px;}
  .navigationInfo { font-size: 16px;}
  .selectContent {font-size: 17px;}
  .headerContent {position:  absolute;}
  }
